.EnteringInCoprulu{
    height: auto;
    width: auto;
    /*background-color: #0c0627;*/
    background-image: url('https://img.freepik.com/free-photo/black-textured-paper-background_53876-143073.jpg?t=st=1733232720~exp=1733236320~hmac=5843dc8e1daf494d35c4fab551f2145d2a8e217e8b77044f711f0e7ddd46cbd0&w=1380');
    background-size: cover;
    background-position: center;
}

.Block.EnteringInCoprulu {
    text-align: center; /* Центрирование заголовка и текста */
    padding: 40px 20px; /* Отступы блока */
    background-color: #f4f4f4; /* Фоновый цвет блока */
    font-family: 'Arial', sans-serif;
}

.block-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
}

.block-subtitle {
    word-wrap: break-word; /* Разрешает переносить слова, которые не помещаются */
    white-space: normal;
    font-size: 16px;
    margin-bottom: 30px;
    color: #9cb8ec;

    width: 60%; /* Ограничиваем ширину блока 60% от ширины страницы */
    margin-left: auto; /* Левый отступ автоматически */
    margin-right: auto; /* Правый отступ автоматически */
}

.card-container {
    display: flex;
    justify-content: center; /* Центрирование карточек */
    gap: 50px; /* Промежутки между карточками */
    flex-wrap: wrap; /* Разрешить перенос карточек на новые строки */
    margin-top: 50px;
}

.card {
    background-color: #ffffff; /* Белый фон карточки */
    border: 1px solid #ddd; /* Легкая граница */
    border-radius: 5px; /* Скругленные углы */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
    width: 300px; /* Фиксированная ширина карточки */
    height: 300px;
    text-align: center;

    display: grid; /* Включаем Grid */
    place-items: center;
}

.card-image {
    width: 100%;
    height: 95%;
    border-radius: 5px; /* Скругленные углы изображения */
    margin-bottom: 15px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
}

.card-description {
    font-size: 14px;
    color: #9cb8ec;
}

.card-wrapper{
    width: 300px;
}